* {
    box-sizing: border-box;
  }
  
  body, input {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .hidden {
      display: none;
  }
  